POSTGRES_PASSWORD=change-miniflux-db-password
DATABASE_URL=postgres://miniflux:change-miniflux-db-password@miniflux-db/miniflux?sslmode=disable
YOUTUBE_API_KEY=change-youtube-api-key
SB_USER=killeik:change-silverbullet-password
