(tls_cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

silverbullet.killeik.net {
	reverse_proxy silverbullet:3000
	import tls_cloudflare
}
miniflux.killeik.net {
	reverse_proxy miniflux:8080
	import tls_cloudflare
}
syncthing.killeik.net {
	reverse_proxy syncthing:8384
	import tls_cloudflare
}
forgejo.killeik.net {
	reverse_proxy forgejo:3000
	import tls_cloudflare
}
larapaper.killeik.net {
	reverse_proxy larapaper:8080
	import tls_cloudflare
}
