(tls_cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
		propagation_delay 1m
		propagation_timeout 20m
	}
}

silverbullet.killeik.net {
	reverse_proxy silverbullet:3000
	import tls_cloudflare
}
miniflux.killeik.net {
	reverse_proxy miniflux:8080
	import tls_cloudflare
}
syncthing.killeik.net {
	reverse_proxy syncthing:8384
	import tls_cloudflare
}
forgejo.killeik.net {
	reverse_proxy forgejo:3000
	import tls_cloudflare
}
larapaper.killeik.net {
	reverse_proxy larapaper:8080
	import tls_cloudflare
}
music.killeik.net {
	reverse_proxy navidrome:4533
	import tls_cloudflare
}
lidarr.killeik.net {
	reverse_proxy lidarr:8686
	import tls_cloudflare
}
qbit.killeik.net {
	reverse_proxy qbittorrent:8080
	import tls_cloudflare
}
prowlarr.killeik.net {
	reverse_proxy prowlarr:9696
	import tls_cloudflare
}
slskd.killeik.net {
	reverse_proxy slskd:5030
	import tls_cloudflare
}
soularr.killeik.net {
	reverse_proxy soularr:8265
	import tls_cloudflare
}
grafana.killeik.net {
	reverse_proxy unix//run/grafana/grafana.sock {
		header_up Host {host}
	}
	import tls_cloudflare
}
